{% extends "base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
{% if cl.formset %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
{% endif %}
{% if cl.formset or action_form %}
<script src="{% url 'admin:jsi18n' %}"></script>
{% endif %}
{{ media.css }}
{% if not actions_on_top and not actions_on_bottom %}
<style>
#changelist table thead th:first-child {width: inherit}
</style>
{% endif %}
{% endblock extrastyle %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock extrahead %}

{% block bodyclass %}
{{ block.super }}

 {% endblock bodyclass %}

{% block object-tools %}
{% if not is_popup %}
<div class="flex items-center md:justify-end p-3 md:px-10 gap-2">
	<ul class="object-tools mt-0">
		{% block object-tools-items %}

		{% endblock object-tools-items %}
	</ul>
</div>
{% endif %}
{% endblock object-tools %}

{% block content %}

<div class="results block w-full overflow-x-auto">
	<table id="result_list" class="items-center w-full bg-transparent border-collapse">
		<thead>
			<tr>
				<th scope="col"  class="action-checkbox-column" >
					<div class="text"><span><input type="checkbox" id="action-toggle"></span></div>
					<div class="clear"></div>
				</th>
				<th scope="col"  class="column-pk" >

					<div class="text"><span>Pk</span></div>
					<div class="clear"></div>
				</th>
				<th scope="col"  class="sortable column-name sorted ascending">
					<div class="sortoptions">
						<a class="sortremove" href="?o=" title="Remove from sorting"></a>
						<a href="?o=-2" class="toggle ascending" title="Toggle sorting"></a>
					</div>

					<div class="text"><a href="?o=-2">Name</a></div>
					<div class="clear"></div>
				</th>
				<th scope="col"  class="sortable column-description" >
					<div class="text"><a href="?o=3.2">Description</a></div>
					<div class="clear"></div>
				</th>
				<th scope="col"  class="sortable column-native" >
					<div class="text"><a href="?o=4.2">Native</a></div>
					<div class="clear"></div>
				</th>
				<th scope="col"  class="sortable column-foreign" >
					<div class="text"><a href="?o=5.2">Foreign</a></div>
					<div class="clear"></div>
				</th>
				<th scope="col"  class="column-image" >
					<div class="text"><span>Image</span></div>
					<div class="clear"></div>
				</th>
				<th scope="col"  class="sortable column-is_active" >
					<div class="text"><a href="?o=7.2">Is active?</a></div>
					<div class="clear"></div>
				</th>
			</tr>
		</thead>

		<tbody>
			{% for item in data_course %}
			<tr class="text-slate-700 text-left border-b border-gray-100 whitespace-nowrap">
				<td class="action-checkbox"><input type="checkbox" name="_selected_action" value="{{ item.id }}" class="action-select"></td>
				<td class="field-pk"><a href="{% url 'course:change_course' item.id %}">{{ item.id }}</a></td>
				<td class="field-name">{{ item.name }}</td>
				<td class="field-description">{{ item.description }}</td>
				<td class="field-native nowrap">{{ item.native }}</td>
				<td class="field-foreign nowrap">{{ item.foreign }}</td>
				<td class="field-image">{{ item.img }}</td>
				<td class="field-is_active">{% if item.is_active == True %} <img src="/static/admin/img/icon-yes.svg" alt="True"> {% else %} <img src="/static/admin/img/icon-no.svg" alt="False"> {% endif %}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock content %}
