{% extends "base_site.html" %}

{% block content_title %}
<h1>Course viewport</h1>
{% endblock content_title %}

{% block content %}
{{ user }}
{{ req }}
{{ obj }}
{{ level }}
<hr/>
{{ word_level }}
<hr/>
{{ words }}

{% for course in obj %}
    {# Each "contact" is a Contact model object. #}
    {{ course.name|upper }}<br/>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if obj.has_previous %}
            <a href="?page=1"><< first</a>
            <a href="?page={{ obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ obj.number }} of {{ obj.paginator.num_pages }}.
        </span>

        {% if obj.has_next %}
            <a href="?page={{ obj.next_page_number }}">next</a>
            <a href="?page={{ obj.paginator.num_pages }}">last >></a>
        {% endif %}
    </span>
</div>
{% endblock content %}
