{% extends "base_detail.html" %}
{% load i18n static %}


{% block extrastyle %}
{{ block.super }}
{% if cl.formset %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
{% endif %}
{% if cl.formset or action_form %}
<script src="{% url 'admin:jsi18n' %}"></script>
{% endif %}
{{ media.css }}
{% if not actions_on_top and not actions_on_bottom %}
<style>
#changelist table thead th:first-child {width: inherit}
</style>
{% endif %}
{% endblock extrastyle %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock extrahead %}

{% block bodyclass %}
{{ block.super }}
{% endblock bodyclass %}

{% block object-tools %}
{% if not is_popup %}
<div class="flex items-center md:justify-end p-3 md:px-10 gap-2">
<ul class="object-tools mt-0">
{% block object-tools-items %}

{% endblock object-tools-items %}
</ul>
</div>
{% endif %}
{% endblock object-tools %}

{% block content %}

<main class="relative pt-16 bg-slate-100 min-h-screen">
    <div class="container w-full mx-auto">
        <div class="relative lg:pt-5 pb-6 pt-12 flex title-block">
            <div class="px-4 lg:px-10 mx-auto w-full">
                <h1 class="font-normal text-xl md:text-2xl">Add level</h1>
                <hr class="md:min-w-full" />
                <div class="breadcrumbs">
                    <a href="/admin/">Home</a>
                    &rsaquo; <a href="/admin/course/">Course</a>
                    &rsaquo; <a href="/admin/course/level/">Levels</a>
                    &rsaquo; Add level
                </div>
            </div>
        </div>
        <div class="px-4 lg:px-10 mx-auto w-full">
            <div class="w-full pb-12">
                <div id="content-main">
                    <form method="post" id="level_form" novalidate>
                        <div>
                            <fieldset class="module aligned">
                                <div class="form-row field-sequence">
                                    <div>
                                        <label class="required" for="id_sequence">Sequence:</label>
                                        <input type="number" name="sequence" value="0" class="vIntegerField" required id="id_sequence">
                                    </div>
                                </div>
                                <div class="form-row field-name">
                                    <div>
                                        <label class="required" for="id_name">Name:</label>
                                        <input type="text" name="name" value="Level" class="vTextField" maxlength="200" required id="id_name">
                                    </div>
                                </div>
                                <div class="form-row field-course">
                                    <div>
                                        <label for="id_course">Course:</label>
                                        <div class="related-widget-wrapper" data-model-ref="course">
                                            <select name="course" id="id_course">
                                                <option value="" selected>---------</option>
                                                <option value="13198">English MasterClass</option>
                                                <option value="98764">Tagalog MasterClass</option>
                                            </select>
                                            <a class="related-widget-wrapper-link change-related" id="change_id_course" data-href-template="/admin/course/course/__fk__/change/?_to_field=id&amp;_popup=1" data-popup="yes" title="Change selected course">
                                                <img src="/static/admin/img/icon-changelink.svg" alt="Change">
                                            </a>
                                            <a class="related-widget-wrapper-link add-related" id="add_id_course" data-popup="yes" href="/admin/course/course/add/?_to_field=id&amp;_popup=1" title="Add another course">
                                                <img src="/static/admin/img/icon-addlink.svg" alt="Add">
                                            </a>
                                            <a class="related-widget-wrapper-link view-related" id="view_id_course" data-href-template="/admin/course/course/__fk__/change/?_to_field=id" title="View selected course">
                                                <img src="/static/admin/img/icon-viewlink.svg" alt="View">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="js-inline-admin-formset inline-group relative flex flex-col min-w-0 break-words w-full my-6 shadow-lg rounded bg-white dark:bg-sky-900 overflow-scroll" id="level_words-group" data-inline-type="tabular" data-inline-formset="{&quot;name&quot;: &quot;#level_words&quot;, &quot;options&quot;: {&quot;prefix&quot;: &quot;level_words&quot;, &quot;addText&quot;: &quot;Add another Word&quot;, &quot;deleteText&quot;: &quot;Remove&quot;}}">
                                <div class="tabular inline-related last-related">
                                    <input type="hidden" name="level_words-TOTAL_FORMS" value="1" id="id_level_words-TOTAL_FORMS">
                                    <input type="hidden" name="level_words-INITIAL_FORMS" value="0" id="id_level_words-INITIAL_FORMS">
                                    <input type="hidden" name="level_words-MIN_NUM_FORMS" value="0" id="id_level_words-MIN_NUM_FORMS">
                                    <input type="hidden" name="level_words-MAX_NUM_FORMS" value="20" id="id_level_words-MAX_NUM_FORMS">
                                    <fieldset class="module">
                                        <h2 class="px-3">Words</h2>
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th class="original"></th>
                                                    <th class="column-id hidden">ID</th>
                                                    <th class="column-word required">Foreign</th>
                                                    <th class="column-description required">Native</th>
                                                    <th>Delete?</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="form-row " id="level_words-0">
                                                    <td class="original">
                                                        <input type="hidden" name="level_words-0-id" id="id_level_words-0-id">
                                                        <input type="hidden" name="level_words-0-level" id="id_level_words-0-level">
                                                    </td>
                                                    <td class="field-id hidden">
                                                        <p>-</p>
                                                    </td>
                                                    <td class="field-word">
                                                        <input type="text" name="level_words-0-word" class="vTextField" maxlength="200" id="id_level_words-0-word">
                                                    </td>
                                                    <td class="field-description">
                                                        <input type="text" name="level_words-0-description" class="vTextField" maxlength="200" id="id_level_words-0-description">
                                                    </td>
                                                    <td class="delete"></td>
                                                </tr>
                                                <tr class="form-row  empty-form" id="level_words-empty">
                                                    <td class="original">
                                                        <input type="hidden" name="level_words-__prefix__-id" id="id_level_words-__prefix__-id">
                                                        <input type="hidden" name="level_words-__prefix__-level" id="id_level_words-__prefix__-level">
                                                    </td>
                                                    <td class="field-id hidden">
                                                        <p>-</p>
                                                    </td>
                                                    <td class="field-word">
                                                        <input type="text" name="level_words-__prefix__-word" class="vTextField" maxlength="200" id="id_level_words-__prefix__-word">
                                                    </td>
                                                    <td class="field-description">
                                                        <input type="text" name="level_words-__prefix__-description" class="vTextField" maxlength="200" id="id_level_words-__prefix__-description">
                                                    </td>
                                                    <td class="delete"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="submit-row">
                                <input type="submit" value="Save" class="default" name="_save">
                                <input type="submit" value="Save and add another" name="_addanother">
                                <input type="submit" value="Save and continue editing" name="_continue">
                            </div>
                        </div>
                    </form>
                </div>
                <br class="clear"/>
            </div>
        </div>
    </div>
</main>

{% endblock content %}
