{% extends "base_detail.html" %}
{% load i18n static paginator crispy_forms_tags %}

{% block title %}
{{ get_level.name }} | {{ title }}
{% endblock title %}

{# note: content #}
{% block content %}

<main class="relative pt-16 bg-slate-100 min-h-screen">
    <div class="container w-full mx-auto">
        <div class="relative lg:pt-5 pb-6 pt-12 flex title-block">
            <div class="px-4 lg:px-10 mx-auto w-full">
                <h1 class="font-normal text-xl md:text-2xl">Change level</h1>
                <h2 class="font-medium">Tagalog MasterClass - Level 1</h2>
                <hr class="md:min-w-full" />
                <div class="breadcrumbs">
                    <a href="/">Home</a>
                    &rsaquo; <a href="/course/">Course</a>
                    &rsaquo; <a href="/course/level/">Levels</a>
                    &rsaquo; Tagalog MasterClass - Level 1
                </div>
            </div>
        </div>
        <div class="flex md:justify-end p-3 md:px-10">
            <ul class="object-tools mt-0">
                <li>
                    <a href="/course/level/5/history/" class="historylink">History</a>
                </li>
            </ul>
        </div>
        <div class="px-4 lg:px-10 mx-auto w-full">
            <div class="w-full pb-12">
                <div id="content-main">
                    <div class="pager flex justify-end">
                        <div class="block">
                            <span class="page">
                                <a href="/course/level/4/detail">< Prev </a>
                            </span>
                            <span class="page">
                                <a href="/course/level/6/detail">Next ></a>
                            </span>
                        </div>
                    </div>
                    <form method="POST" id="level_form">
                    {% csrf_token %}

                        <div>
                            <fieldset class="module aligned ">
                                <div class="form-row field-id">
                                    <div>
                                        <label class="required" for="id_sequence">ID:</label>
                                        {{ form.id|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="form-row field-sequence">
                                    <div>
                                        <label class="required" for="id_sequence">Sequence:</label>
                                        {{ form.sequence|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="form-row field-name">
                                    <div>
                                        <label class="required" for="id_name">Name:</label>
                                        {{ form.name|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="form-row field-course">
                                    <div>
                                        <label for="id_course">Course:</label>
                                        <div class="related-widget-wrapper" data-model-ref="course">
                                            {{ form.course|as_crispy_field }}
                                            <a class="related-widget-wrapper-link change-related" id="change_id_course" data-href-template="/admin/course/course/__fk__/change/?_to_field=id&amp;_popup=1" data-popup="yes" title="Change selected course">
                                                <img src="/static/admin/img/icon-changelink.svg" alt="Change">
                                            </a>
                                            <a class="related-widget-wrapper-link add-related" id="add_id_course" data-popup="yes" href="/admin/course/course/add/?_to_field=id&amp;_popup=1" title="Add another course">
                                                <img src="/static/admin/img/icon-addlink.svg" alt="Add">
                                            </a>
                                            <a class="related-widget-wrapper-link view-related" id="view_id_course" data-href-template="/admin/course/course/__fk__/change/?_to_field=id" title="View selected course">
                                                <img src="/static/admin/img/icon-viewlink.svg" alt="View">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="js-inline-admin-formset inline-group relative flex flex-col min-w-0 break-words w-full my-6 shadow-lg rounded bg-white dark:bg-sky-900 overflow-scroll" id="level_words-group" data-inline-type="tabular" data-inline-formset="{&quot;name&quot;: &quot;#level_words&quot;, &quot;options&quot;: {&quot;prefix&quot;: &quot;level_words&quot;, &quot;addText&quot;: &quot;Add another Word&quot;, &quot;deleteText&quot;: &quot;Remove&quot;}}">
                                <div class="tabular inline-related last-related">
                                    <fieldset class="module">
                                        <h2 class="px-3">Words</h2>
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th class="column-word required">Foreign</th>
                                                    <th class="column-description required">Native</th>
                                                    <th>Delete?</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in word_formset.forms %}
                                                <tr class="form-row wordFormset">
                                                    <td class="field-word">
                                                        {{ item.word|as_crispy_field }}
                                                    </td>
                                                    <td class="field-description">
                                                        {{ item.description|as_crispy_field }}
                                                    </td>
                                                    <td class="delCourse"></td>
                                                </tr>
                                                {% endfor %}
                                                <tr class="addCourse" style="padding-left: 10px;display: inline-block;"></tr>
                                            </tbody>
                                        </table>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="submit-row">
                                <input type="submit" value="Save" class="default" name="_save">
                                <p class="deletelink-box">
                                    <a href="/admin/course/level/5/delete/" class="deletelink">Delete</a>
                                </p>
                                <input type="submit" value="Save and add another" name="_addanother">
                                <input type="submit" value="Save and continue editing" name="_continue">
                            </div>
                        </div>
                    </form>
                </div>
                <br class="clear"/></div>
            </div>
        </div>
    </main>

{% endblock content %}


{% block extra_javascript %}
<script src="{% static 'js/jquery.formset.js' %}" type="text/javascript"></script>
<script type='text/javascript'>
$(document).ready(function()
{
    $(function()
    {
        // $('.wordFormset').formset();
        $('.wordFormset').formset({
            // prefix: 'course_formset',
            addCssClass: 'btn btn-success',
            addText: '<i class="fas fa-plus"></i>',
            deleteCssClass: 'btn btn-danger',
            deleteText: '<i class="fas fa-minus"></i>',
            // keepFieldValues: '#id_course_formset-0-word, #id_course_formset-0-description',
            deleteContainerClass: 'delCourse',
            addContainerClass: 'addCourse',
        })
    });

});
</script>
{% endblock %}
