{% extends "base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
{% if cl.formset %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
{% endif %}
{% if cl.formset or action_form %}
<script src="{% url 'admin:jsi18n' %}"></script>
{% endif %}
{{ media.css }}
{% if not actions_on_top and not actions_on_bottom %}
<style>
#changelist table thead th:first-child {width: inherit}
</style>
{% endif %}
{% endblock extrastyle %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock extrahead %}

{% block bodyclass %}
{{ block.super }}

{% endblock bodyclass %}

{% block object-tools %}
{% if not is_popup %}
<div class="flex items-center md:justify-end p-3 md:px-10 gap-2">
<ul class="object-tools mt-0">
{% block object-tools-items %}

{% endblock object-tools-items %}
</ul>
</div>
{% endif %}
{% endblock object-tools %}

{% block content %}
<div class="results block w-full overflow-x-auto">
	<table id="result_list" class="items-center w-full bg-transparent border-collapse">
		<thead>
			<tr>
				<th scope="col"  class="action-checkbox-column">
					<div class="text"><span><input type="checkbox" id="action-toggle"></span></div>
					<div class="clear"></div>
				</th>
				<th scope="col"  class="sortable column-id">
					<div class="text"><a href="?o=1">ID</a></div>
					<div class="clear"></div>
				</th>
				<th scope="col"  class="sortable column-name">
					<div class="text"><a href="?o=2">Name</a></div>
					<div class="clear"></div>
				</th>
				<th scope="col"  class="sortable column-course">
					<div class="text"><a href="?o=3">Course</a></div>
					<div class="clear"></div>
				</th>
				<th scope="col"  class="column-word_count">
					<div class="text"><span>Word count</span></div>
					<div class="clear"></div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text-slate-700 text-left border-b border-gray-100 whitespace-nowrap">
				<td class="action-checkbox">
					<input type="checkbox" name="_selected_action" value="5" class="action-select">
				</td>
				<th class="field-id">
					<a href="/admin/course/level/5/change/">5</a>
				</th>
				<td class="field-name">Level 1</td>
				<td class="field-course nowrap">Tagalog MasterClass</td>
				<td class="field-word_count">2</td>
			</tr>
		</tbody>
	</table>
</div>

{% endblock content %}
