{% extends "base_detail.html" %}
{% load i18n static %}


{% block extrastyle %}
{{ block.super }}
{% if cl.formset %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
{% endif %}
{% if cl.formset or action_form %}
<script src="{% url 'admin:jsi18n' %}"></script>
{% endif %}
{{ media.css }}
{% if not actions_on_top and not actions_on_bottom %}
<style>
#changelist table thead th:first-child {width: inherit}
</style>
{% endif %}
{% endblock extrastyle %}

{% block extrahead %}
{{ block.super }}
{% endblock extrahead %}

{% block bodyclass %}
{{ block.super }}
{% endblock bodyclass %}

{% block object-tools %}
{% if not is_popup %}
<div class="flex items-center md:justify-end p-3 md:px-10 gap-2">
<ul class="object-tools mt-0">
{% block object-tools-items %}

{% endblock object-tools-items %}
</ul>
</div>
{% endif %}
{% endblock object-tools %}

{% block content %}

<main class="relative pt-16 bg-slate-100 min-h-screen">
    <div class="container w-full mx-auto">
        <div class="relative lg:pt-5 pb-6 pt-12 flex title-block">
            <div class="px-4 lg:px-10 mx-auto w-full">
                <h1 class="font-normal text-xl md:text-2xl">Add word</h1>
                <hr class="md:min-w-full" />
                <div class="breadcrumbs">
                    <a href="/admin/">Home</a>
                    &rsaquo; <a href="/admin/course/">Course</a>
                    &rsaquo; <a href="/admin/course/word/">Words</a>
                    &rsaquo; Add word
                </div>
            </div>
        </div>
        <div class="px-4 lg:px-10 mx-auto w-full">
            <div class="w-full pb-12">
                <div id="content-main">
                    <form enctype="multipart/form-data" method="post" id="word_form" novalidate>
                        <div class="block md:grid md:grid-cols-2 gap-2">
                            <div class="col-span-2"></div>

                            <fieldset class="module aligned">
                                <div class="form-row field-word">
                                    <div>
                                        <label class="required" for="id_word">Foreign:</label>
                                        <input type="text" name="word" class="vTextField" maxlength="200" required id="id_word">
                                    </div>
                                </div>
                                <div class="form-row field-description">
                                    <div>
                                        <label class="required" for="id_description">Native:</label>
                                        <input type="text" name="description" class="vTextField" maxlength="200" required id="id_description">
                                    </div>
                                </div>
                                <div class="form-row field-literal_translation">
                                    <div>
                                        <label for="id_literal_translation">Literal translation:</label>
                                        <input type="text" name="literal_translation" class="vTextField" maxlength="200" id="id_literal_translation">
                                    </div>
                                </div>
                                <div class="form-row field-course">
                                    <div>
                                        <label class="required" for="id_course">Course:</label>
                                        <div class="related-widget-wrapper" data-model-ref="course">
                                            <select name="course" required id="id_course">
                                                <option value="" selected>---------</option>
                                                <option value="13198">English MasterClass</option>
                                                <option value="98764">Tagalog MasterClass</option>
                                            </select>
                                            <a class="related-widget-wrapper-link change-related" id="change_id_course" data-href-template="/admin/course/course/__fk__/change/?_to_field=id&amp;_popup=1" data-popup="yes" title="Change selected course">
                                                <img src="/static/admin/img/icon-changelink.svg" alt="Change">
                                            </a>
                                            <a class="related-widget-wrapper-link add-related" id="add_id_course" data-popup="yes" href="/admin/course/course/add/?_to_field=id&amp;_popup=1" title="Add another course">
                                                <img src="/static/admin/img/icon-addlink.svg" alt="Add">
                                            </a>
                                            <a class="related-widget-wrapper-link view-related" id="view_id_course" data-href-template="/admin/course/course/__fk__/change/?_to_field=id" title="View selected course">
                                                <img src="/static/admin/img/icon-viewlink.svg" alt="View">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row field-level">
                                    <div>
                                        <label for="id_level">Level:</label>
                                        <div class="related-widget-wrapper" data-model-ref="level">
                                            <select name="level" id="id_level">
                                                <option value="" selected>---------</option>
                                                <option value="1">English MasterClass - Level 1</option>
                                                <option value="5">Tagalog MasterClass - Level 1</option>
                                                <option value="2">English MasterClass - Level 2</option>
                                                <option value="6">Tagalog MasterClass - Level 2</option>
                                                <option value="3">English MasterClass - Level 3</option>
                                                <option value="7">Tagalog MasterClass - Level 3</option>
                                                <option value="4">English MasterClass - Level 4</option>
                                                <option value="8">English MasterClass - Level 5</option>
                                            </select>
                                            <a class="related-widget-wrapper-link change-related" id="change_id_level" data-href-template="/admin/course/level/__fk__/change/?_to_field=id&amp;_popup=1" data-popup="yes" title="Change selected level">
                                                <img src="/static/admin/img/icon-changelink.svg" alt="Change">
                                            </a>
                                            <a class="related-widget-wrapper-link add-related" id="add_id_level" data-popup="yes" href="/admin/course/level/add/?_to_field=id&amp;_popup=1" title="Add another level">
                                                <img src="/static/admin/img/icon-addlink.svg" alt="Add">
                                            </a>
                                            <a class="related-widget-wrapper-link delete-related" id="delete_id_level" data-href-template="/admin/course/level/__fk__/delete/?_to_field=id&amp;_popup=1" data-popup="yes" title="Delete selected level">
                                                <img src="/static/admin/img/icon-deletelink.svg" alt="Delete">
                                            </a>
                                            <a class="related-widget-wrapper-link view-related" id="view_id_level" data-href-template="/admin/course/level/__fk__/change/?_to_field=id" title="View selected level">
                                                <img src="/static/admin/img/icon-viewlink.svg" alt="View">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row field-is_active">
                                    <div class="checkbox-row">
                                        <input type="checkbox" name="is_active" id="id_is_active" checked>
                                        <label class="vCheckboxLabel" for="id_is_active">Is active</label>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="js-inline-admin-formset inline-group relative flex flex-col min-w-0 break-words w-full my-6 shadow-lg rounded bg-white dark:bg-sky-900 overflow-scroll" id="medias-group" data-inline-type="tabular" data-inline-formset="{&quot;name&quot;: &quot;#medias&quot;, &quot;options&quot;: {&quot;prefix&quot;: &quot;medias&quot;, &quot;addText&quot;: &quot;Add another Word media&quot;, &quot;deleteText&quot;: &quot;Remove&quot;}}">
                                <div class="tabular inline-related last-related">
                                    <input type="hidden" name="medias-TOTAL_FORMS" value="0" id="id_medias-TOTAL_FORMS">
                                    <input type="hidden" name="medias-INITIAL_FORMS" value="0" id="id_medias-INITIAL_FORMS">
                                    <input type="hidden" name="medias-MIN_NUM_FORMS" value="0" id="id_medias-MIN_NUM_FORMS">
                                    <input type="hidden" name="medias-MAX_NUM_FORMS" value="1000" id="id_medias-MAX_NUM_FORMS">

                                    <fieldset class="module">
                                        <h2 class="text-slate-600 dark:text-slate-200 px-3">Word medias</h2>
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th class="original"></th>
                                                    <th class="column-media_type required">Media type</th>
                                                    <th class="column-path_to_file required">Path to file</th>
                                                    <th>Delete?</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="form-row  empty-form" id="medias-empty">
                                                    <td class="original">
                                                        <input type="hidden" name="medias-__prefix__-id" id="id_medias-__prefix__-id">
                                                        <input type="hidden" name="medias-__prefix__-word" id="id_medias-__prefix__-word">
                                                    </td>
                                                    <td class="field-media_type">
                                                        <select name="medias-__prefix__-media_type" id="id_medias-__prefix__-media_type">
                                                            <option value="AUDIO">Audio</option>
                                                            <option value="VIDEO">Video</option>
                                                            <option value="IMAGE">Image</option>
                                                        </select>
                                                    </td>
                                                    <td class="field-path_to_file">
                                                        <div id="medias-__prefix__-path_to_file_with_media_recorder">
                                                            <div class="py-2">
                                                                <input type="file" name="medias-__prefix__-path_to_file" class="bg-slate-100 p-2" id="id_medias-__prefix__-path_to_file"/>
                                                            </div>
                                                            <p>Or record an audio</p>
                                                            <div class="btn-group" role="group">
                                                                <button id="medias-__prefix__-path_to_file_record_start" type="button" class="px-2 py-1 text-white bg-green-500 disabled:bg-gray-500 rounded-sm" onclick="startRecording(this)">Record</button>
                                                                <button id="medias-__prefix__-path_to_file_record_stop" type="button" class="px-2 py-1 text-white bg-red-500 disabled:bg-gray-500 disabled:text-gray-200 rounded-sm" disabled onclick="stopRecording(this)">Stop</button>
                                                            </div>
                                                            <div class="recording" id="medias-__prefix__-path_to_file-record-status">
                                                                <span class="text-sm">Click the "Start Recording" button to start recording</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="delete"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-span-2">
                                <div class="submit-row">
                                    <input type="submit" value="Save" class="default" name="_save">
                                    <input type="submit" value="Save and add another" name="_addanother">
                                    <input type="submit" value="Save and continue editing" name="_continue">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <br class="clear"/>
            </div>
        </div>
    </div>
</main>

{% endblock content %}
