{% extends "base_detail.html" %}
{% load i18n static paginator crispy_forms_tags %}

{% block head_title %}
{{ word_detail.word }} - {{ word_detail.description }} | {{ title }}
{% endblock head_title %}

{# note: content #}
{% block content %}

<main class="relative pt-16 bg-slate-100 min-h-screen">
    <div class="container w-full mx-auto">
        <div class="relative lg:pt-5 pb-6 pt-12 flex title-block">
            <div class="px-4 lg:px-10 mx-auto w-full">
                <h1 class="font-normal text-xl md:text-2xl">Change word</h1>
                <h2 class="font-medium">{{ word_detail.word }} - {{ word_detail.description }}</h2>
                <hr class="md:min-w-full" />
                <div class="breadcrumbs">
                    <a href="/">Home</a>
                    &rsaquo; <a href="/course/">Course</a>
                    &rsaquo; <a href="/course/word/">Words</a>
                    &rsaquo; {{ word_detail.word }} - {{ word_detail.description }}
                </div>
            </div>
        </div>
        <div class="flex md:justify-end p-3 md:px-10">
            <ul class="object-tools mt-0">
                <li>
                    <a href="/course/word/2/history/" class="historylink">History</a>
                </li>
            </ul>
        </div>
        <div class="px-4 lg:px-10 mx-auto w-full">
            <div class="w-full pb-12">
                <div id="content-main">
                    <div class="pager flex justify-end">
                        <div class="block">
                            <span class="page">
                                <a href="/course/word/1/change">< Prev </a>
                            </span>
                            <span class="page">
                                <a href="/course/word/3/change">Next ></a>
                            </span>
                        </div>
                    </div>
                    <form enctype="multipart/form-data" method="POST" id="word_form" novalidate>
                        <div class="block md:grid md:grid-cols-2 gap-2">
                            <div class="col-span-2"></div>
                            <fieldset class="module aligned">
                                <div class="form-row field-word">
                                    <div>
                                        <label class="required" for="id_word">Foreign:</label>
                                        {{ form.word|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="form-row field-description">
                                    <div>
                                        <label class="required" for="id_description">Native:</label>
                                        {{ form.description|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="form-row field-literal_translation">
                                    <div>
                                        <label for="id_literal_translation">Literal translation:</label>
                                        {{ form.literal_translation|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="form-row field-course">
                                    <div>
                                        <label class="required" for="id_course">Course:</label>
                                        <div class="related-widget-wrapper" data-model-ref="course">
                                            {{ form.course|as_crispy_field }}
                                            <a class="related-widget-wrapper-link change-related" id="change_id_course" data-href-template="/course/__fk__/change/?_to_field=id&amp;_popup=1" data-popup="yes" title="Change selected course">
                                                <img src="/static/admin/img/icon-changelink.svg" alt="Change">
                                            </a>
                                            <a class="related-widget-wrapper-link add-related" id="add_id_course" data-popup="yes" href="/course/add/?_to_field=id&amp;_popup=1" title="Add another course">
                                                <img src="/static/admin/img/icon-addlink.svg" alt="Add">
                                            </a>
                                            <a class="related-widget-wrapper-link view-related" id="view_id_course" data-href-template="/course/__fk__/change/?_to_field=id" title="View selected course">
                                                <img src="/static/admin/img/icon-viewlink.svg" alt="View">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row field-level">
                                    <div>
                                        <label for="id_level">Level:</label>
                                        <div class="related-widget-wrapper" data-model-ref="level">
                                            {{ form.level|as_crispy_field }}
                                            <a class="related-widget-wrapper-link change-related" id="change_id_level" data-href-template="/course/level/__fk__/change/?_to_field=id&amp;_popup=1" data-popup="yes" title="Change selected level">
                                                <img src="/static/admin/img/icon-changelink.svg" alt="Change">
                                            </a>
                                            <a class="related-widget-wrapper-link add-related" id="add_id_level" data-popup="yes" href="/course/level/add/?_to_field=id&amp;_popup=1" title="Add another level">
                                                <img src="/static/admin/img/icon-addlink.svg" alt="Add">
                                            </a>
                                            <a class="related-widget-wrapper-link delete-related" id="delete_id_level" data-href-template="/course/level/__fk__/delete/?_to_field=id&amp;_popup=1" data-popup="yes" title="Delete selected level">
                                                <img src="/static/admin/img/icon-deletelink.svg" alt="Delete">
                                            </a>
                                            <a class="related-widget-wrapper-link view-related" id="view_id_level" data-href-template="/course/level/__fk__/change/?_to_field=id" title="View selected level">
                                                <img src="/static/admin/img/icon-viewlink.svg" alt="View">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row field-is_active">
                                    <div class="checkbox-row">
                                        <input type="checkbox" name="is_active" id="id_is_active" checked>
                                        <label class="vCheckboxLabel" for="id_is_active">Is active</label>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="js-inline-admin-formset inline-group relative flex flex-col min-w-0 break-words w-full my-6 shadow-lg rounded bg-white dark:bg-sky-900 overflow-scroll" id="medias-group" data-inline-type="tabular" data-inline-formset="{&quot;name&quot;: &quot;#medias&quot;, &quot;options&quot;: {&quot;prefix&quot;: &quot;medias&quot;, &quot;addText&quot;: &quot;Add another Word media&quot;, &quot;deleteText&quot;: &quot;Remove&quot;}}">
                                <div class="tabular inline-related last-related">
                                    <input type="hidden" name="medias-TOTAL_FORMS" value="0" id="id_medias-TOTAL_FORMS">
                                    <input type="hidden" name="medias-INITIAL_FORMS" value="0" id="id_medias-INITIAL_FORMS">
                                    <input type="hidden" name="medias-MIN_NUM_FORMS" value="0" id="id_medias-MIN_NUM_FORMS">
                                    <input type="hidden" name="medias-MAX_NUM_FORMS" value="1000" id="id_medias-MAX_NUM_FORMS">
                                    <fieldset class="module">
                                        <h2 class="text-slate-600 dark:text-slate-200 px-3">Word medias</h2>
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th class="original"></th>
                                                    <th class="column-media_type required">Media type</th>
                                                    <th class="column-path_to_file required">Path to file</th>
                                                    <th>Delete?</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="form-row  empty-form" id="medias-empty">
                                                    <td class="original">
                                                        <input type="hidden" name="medias-__prefix__-id" id="id_medias-__prefix__-id">
                                                        <input type="hidden" name="medias-__prefix__-word" value="2" id="id_medias-__prefix__-word">
                                                    </td>
                                                    <td class="field-media_type">
                                                        <select name="medias-__prefix__-media_type" id="id_medias-__prefix__-media_type">
                                                            <option value="AUDIO">Audio</option>
                                                            <option value="VIDEO">Video</option>
                                                            <option value="IMAGE">Image</option>
                                                        </select>
                                                    </td>
                                                    <td class="field-path_to_file">
                                                        <div id="medias-__prefix__-path_to_file_with_media_recorder">
                                                            <div class="py-2">
                                                                <input type="file" name="medias-__prefix__-path_to_file" class="bg-slate-100 p-2" id="id_medias-__prefix__-path_to_file"/>
                                                            </div>
                                                            <p>Or record an audio</p>
                                                            <div class="btn-group" role="group">
                                                                <button id="medias-__prefix__-path_to_file_record_start" type="button" class="px-2 py-1 text-white bg-green-500 disabled:bg-gray-500 rounded-sm" onclick="startRecording(this)">Record</button>
                                                                <button id="medias-__prefix__-path_to_file_record_stop" type="button" class="px-2 py-1 text-white bg-red-500 disabled:bg-gray-500 disabled:text-gray-200 rounded-sm" disabled onclick="stopRecording(this)">Stop</button>
                                                            </div>
                                                            <div class="recording" id="medias-__prefix__-path_to_file-record-status">
                                                                <span class="text-sm">Click the "Start Recording" button to start recording</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="delete"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-span-2">
                                <div class="submit-row">
                                    <input type="submit" value="Save" class="default" name="_save">
                                    <p class="deletelink-box">
                                        <a href="{% url 'course:word_delete' word_detail.pk %}" class="deletelink">Delete</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <br class="clear"/>
            </div>
        </div>
    </div>
</main>


{% endblock content %}
