{% load i18n %}

<div class="{% if theme_mode == 'dark' %}bg-slate-900{% else %}bg-white{% endif %} fixed w-full z-10 top-0 shadow">
	<div class="container mx-auto flex flex-wrap items-center mt-0 pt-3 pb-3 lg:pb-0 px-3">
		<div class="w-1/2 pl-2 md:pl-0 d-flex items-center">
			<a href="#" id="setup-theme-mode">
				{% if theme_mode == 'dark' %}
				<i class="fas fa-sun text-blue-400 pr-3"></i>
				{% else %}
				<i class="fas fa-moon text-pink-600 pr-3"></i>
				{% endif %}
			</a>

			<a class="navbar-title text-gray-900 text-base xl:text-xl no-underline hover:no-underline font-bold" href="{% url 'frontend:index' %}">
				Admin Panel
			</a>
		</div>

		<div class="w-1/2 pr-0">
			<div class="relative flex float-right">
				<div class="relative text-sm">
					{% if has_permission %}
					<button id="userButton" class="flex items-center focus:outline-none mr-3">
						{% if user.account.img %}
						<img class="w-8 h-8 rounded-full object-cover align-middle" src="/uploads/{{ user.account.img }}" alt="{{ user.email }}" height="26px" width="26px"/>
						{% endif %}

						<span class="navabr-welcome inline-block">Hi, {{ user.username }}</span>
						<svg class="pl-2 h-2" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
							<g>
								<path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z" />
							</g>
						</svg>
					</button>
					<div id="userMenu" class="bg-white rounded shadow-md absolute mt-12 top-0 right-0 min-w-full overflow-auto z-30 invisible">
						<ul class="list-reset">
							<li><a href="{% url 'admin:auth_user_change' user.id %}" class="px-4 py-2 block text-gray-900 hover:bg-gray-400 no-underline hover:no-underline">My account</a></li>
							{% if user.has_usable_password %}
							<li><a href="{% url 'admin:password_change' %}" class="px-4 py-2 block text-gray-900 hover:bg-gray-400 no-underline hover:no-underline">{% translate 'Change password' %}</a></li>
							{% endif %}
							<li><a href="{% url 'admin:logout' %}" class="px-4 py-2 block text-gray-900 hover:bg-gray-400 no-underline hover:no-underline">{% translate 'Log out' %}</a></li>
						</ul>
					</div>
					{% endif %}
				</div>

				<div class="block lg:hidden pr-4">
					<button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-900 hover:border-teal-500 appearance-none focus:outline-none">
						<svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<title>Menu</title>
							<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
						</svg>
					</button>
				</div>
			</div>
		</div>

		<div class="w-full flex-grow lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-white z-20" id="nav-content">
			<ul class="navbar-menu list-reset lg:flex flex-1 items-center px-4 md:px-0">
				<li class="mr-6 my-2 md:my-0">
					<a href="{% url 'frontend:index' %}" class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-900 border-b-2 border-white hover:border-orange-600">
						<span class="pb-1 md:pb-0 text-sm">Home</span>
					</a>
				</li>

				<li class="mr-6 my-2 md:my-0">
					<a href="{% url 'frontend:index' %}" class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-900 border-b-2 border-white hover:border-orange-600">
						<span class="pb-1 md:pb-0 text-sm">Authentication and Authorization</span>
					</a>
				</li>

				<li class="mr-6 my-2 md:my-0">
					<a href="#" class="peer block py-1 md:py-3 pl-1 align-middle no-underline hover:text-gray-900 border-b-2 {% if app.app_url in request.path|urlencode %}active border-orange-600 text-pink-600{% else %}border-white text-gray-500{% endif %} hover:border-pink-500">
						<span class="pb-1 md:pb-0 text-sm">Config</span>
					</a>

					<!-- the menu here -->
					<div class="absolute hidden peer-hover:flex hover:flex w-[300px]  flex-col bg-white drop-shadow-lg">
						<a class="px-5 py-3 hover:bg-gray-500" href="{% url 'config:country_list' %}" title="Countries">Countries</a>
						<a class="px-5 py-3 hover:bg-gray-500" href="{% url 'config:language_list' %}" title="Languages">Languages</a>
					</div>
				</li>

				<li class="mr-6 my-2 md:my-0">
					<a href="#" class="peer block py-1 md:py-3 pl-1 align-middle no-underline hover:text-gray-900 border-b-2 {% if app.app_url in request.path|urlencode %}active border-orange-600 text-pink-600{% else %}border-white text-gray-500{% endif %} hover:border-pink-500">
						<span class="pb-1 md:pb-0 text-sm">Course</span>
					</a>

					<!-- the menu here -->
					<div class="absolute hidden peer-hover:flex hover:flex w-[300px]  flex-col bg-white drop-shadow-lg">
						<a class="px-5 py-3 hover:bg-gray-500" href="{% url 'course:course_list' %}" title="Course">Courses</a>
						<a class="px-5 py-3 hover:bg-gray-500" href="{% url 'course:level_list' %}" title="Level">Levels</a>
						<a class="px-5 py-3 hover:bg-gray-500" href="{% url 'course:level_list' %}" title="Words">Words</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
