{% load i18n %}

{% if app_list %}
  <ul class="app-sidebar-menu">
    {% for app in app_list %}
      <li class="nav-item">
          <a href="{{ app.app_url }}" class="nav-link app-{{ app.app_label }} module{% if app.app_url in request.path|urlencode %} current-app{% endif %}" title="{% blocktranslate with name=app.name %}Models in the {{ name }} application{% endblocktranslate %}">{{ app.name }}</a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>{% translate 'You don’t have permission to view or edit anything.' %}</p>
{% endif %}
