{% extends "admin/change_list_object_tools.html" %}
{% load i18n admin_urls admin_list %}

{% block object-tools-items %}
  {% if has_add_permission %}
  <li>
    {% url cl.opts|admin_urlname:'add' as add_url %}
    <a href="{% add_preserved_filters add_url is_popup to_field %}" class="bg-green-500 hover:bg-green-600 text-white add-button">
      {% blocktranslate with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktranslate %}
    </a>
  </li>
  {% endif %}
  <li>
    {% if cl.search_fields %}
    <div class="float-right mb-2">
        {% search_form cl %}
    </div>
    {% endif %}
  </li>
{% endblock object-tools-items %}
