{% load i18n tz static tailwind_tags admin_urls admin_list %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}"
dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">
<head>
<title>
{% block title %}
{% endblock title %}
</title>
<link rel="icon" href="{% static 'img/logo-dark.png' %}" />
<link rel="stylesheet" href="{% block stylesheet %}"/>
<meta name="description" content="Free Web tutorials"/>
<meta name="keywords" content="Admin"/>
<meta name="author" content="Inelevation"/>
{% endblock stylesheet %}
{% block dark-mode-vars %}
{% comment %} <link rel="stylesheet" href="{% static "admin/css/dark_mode.css" %}"/> {% endcomment %}
{% endblock dark-mode-vars %}
{% if not is_popup and is_nav_sidebar_enabled %}
<link rel="stylesheet" href="{% static "admin/css/nav_sidebar.css" %}"/>
{% endif %}
{% block extrastyle %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="{% static "admin/css/style.css" %}"/>
{% endblock extrastyle %}
{% if LANGUAGE_BIDI %}
<link rel="stylesheet"
href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock stylesheet_rtl %}"/>
{% endif %}
{% block extrahead %}
{% endblock extrahead %}
{% block responsive %}
<meta name="viewport"
content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
<link rel="stylesheet" href="{% static "admin/css/responsive.css" %}"/>
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "admin/css/responsive_rtl.css" %}"/>
{% endif %}
{% endblock responsive %}
{% block blockbots %}
<meta name="robots" content="NONE,NOARCHIVE"/>
{% endblock blockbots %}
{% tailwind_css %}
</head>
<body class="pt-11 {% if theme_mode == 'dark' %}dark-mode{% endif %} {% if is_popup %}popup{% endif %}{% block bodyclass %}{% endblock bodyclass %} {{ user.account.theme }}" data-admin-utc-offset="{% now 'z' %}">
{% if not is_popup %}
<nav class="app-sidebar bg-sky-500 md:bg-white md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:left-0 md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl flex flex-wrap items-center justify-between relative md:w-64 z-10 {% if not is_active %}hidden{% endif %}">
<div class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-0 h-auto items-center flex-1 rounded">
{# note: main navbar #}
<div class="main-nav-header md:min-w-full block px-3 mb-4 md:px-2 md:py-4 md:mb-0 bg-sky-500">
<div>
{% block usertools %}
{% endblock usertools %}
</div>
</div>
{% comment %} <div>
{% if cl %}
{% with class_name="custom_class_name" %}
{% search_form cl %}
{% endwith %}
{% endif %}
</div> {% endcomment %}
{% include 'layout/app_sidebar.html' with app_list=available_apps show_changelinks=False %}
</div>
</nav>
{% endif %}

{% include "layout/app_nav_header.html" with app_list=available_apps show_changelinks=False %}

<main class="relative pt-16 bg-slate-100 min-h-screen {% if is_active %} md:ml-64 {% endif %}">
<div class="container w-full mx-auto">
{# note: object title #}
<div class="relative lg:pt-5 pb-6 pt-12 flex title-block">
<div class="px-4 lg:px-10 mx-auto w-full">
{% block pretitle %}
{% endblock pretitle %}
{% block content_title %}
{% if title %}<h1 class="font-normal text-xl md:text-2xl">{{ title }}</h1>{% endif %}
{% endblock content_title %}
{% block content_subtitle %}
{% if subtitle %}<h2 class="font-medium">{{ subtitle }}</h2>{% endif %}
{% endblock content_subtitle %}
<hr class="md:min-w-full" />
{% block breadcrumbs %}
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
{% if title %}> {{ title }}{% endif %}
{% endblock breadcrumbs %}
</div>
</div>
{# note: object tools #}
{% block object-tools %}
{% endblock object-tools %}
{# note: object content #}
<div class="px-4 lg:px-10 mx-auto w-full">
<div class="w-full pb-12">
{# block message #}
{% block messages %}
{% if messages %}
<ul class="messagelist p-2 bg-green-100 rounded">
{% for message in messages %}
<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
{% endfor %}
</ul>
{% endif %}
{% endblock messages %}
{% block content %}
{{ content }}
{% endblock content %}
<br class="clear"/>
</div>
</div>
</div>
</main>

{% block admin_change_form_document_ready %}
{{ block.super }}
{% endblock %}

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js" integrity="sha256-XF29CBwU1MWLaGEnsELogU6Y6rcc5nCkhhx89nFMIDQ=" crossorigin="anonymous"></script>

{% block extra_javascript %}{% endblock %}

<script type="text/javascript">
( function( $ ) {
// setup theme mode (dark/light)
$(document).on('click', '#setup-theme-mode', function(e) {
e.preventDefault();

$.ajax({
type: 'POST',
url: "{% url 'config:setup-theme-mode' %}",
success: function(xhr) {
window.location.reload();
}
});
});

// set bulk level for words
$(document).on('click', '#perform-bulk-set-level', function(e) {
e.preventDefault();

var courseId = $(this).data('course-id');
var levelId = $('select#bulk-set-level').find(':selected').val();
var csrf = $('input[name=csrfmiddlewaretoken]').val();
var wordsSelected = [];

$('input[name=select-bulk]:checked').each(function() {
wordsSelected.push(parseInt($(this).val()));
});

if (levelId && wordsSelected.length > 0) {
$.ajax({
url: "{% url 'course:bulk-set-level' %}",
type: 'POST',
dataType: 'JSON',
data: {
course_id: courseId,
words: wordsSelected,
level_id: levelId,
csrfmiddlewaretoken: csrf,
},
success: function(xrh) {
window.location.reload();
}
});
}
});
} )( jQuery );
</script>

{% if not is_popup and is_nav_sidebar_enabled %}
<script src="{% static 'js/base.js' %}"></script>
{% endif %}
</body>
</html>
