/*
    DJANGO Custom Admin styles
*/

/* VARIABLE DEFINITIONS */
:root {
  /* --primary: #008DCA; */
  /* --primary: #131d7e; */
  /* --primary: rgb(62,76,131); */
  --primary: #57BFE1;
  --secondary: #D80027;
  --accent: #FFC300;
  --soft-blue: #4b97f3;

  --body-fg: #333;
  --body-bg: #fff;
  --body-quiet-color: #666;
  --body-loud-color: #000;

  --header-color: #fff;
  --header-branding-color: var(--accent);
  --header-bg: var(--primary);
  --header-link-color: #fff;

  --breadcrumbs-bg  : transparent;
  --breadcrumbs-fg: #fff;
  --breadcrumbs-link-fg: #fff;
  --breadcrumbs-bg: var(--secondary);
  --breadcrumbs-title: var(--primary);

  --link-fg: var(--primary);
  --link-hover-color: #036;
  --link-selected-fg: #5b80b2;

  --hairline-color: #e8e8e8;
  --border-color: #ccc;

  --error-fg: #ba2121;

  --message-success-bg: #dfd;
  --message-warning-bg: #ffc;
  --message-error-bg: #ffefef;

  --darkened-bg: #f8f8f8; /* A bit darker than --body-bg */
  --selected-bg: #e4e4e4; /* E.g. selected table cells */
  --selected-row: #ffc;

  --button-fg: #fff;
  --button-bg: var(--primary);
  --button-hover-bg: #1f2a9e;
  --default-button-bg: var(--secondary);
  --default-button-hover-bg: #ee0630;
  --close-button-bg: #888; /* Previously #bbb, contrast 1.92 */
  --close-button-hover-bg: #747474;
  --delete-button-bg: #ba2121;
  --delete-button-hover-bg: #a41515;

  --cp-tools-items-bg: #41ac4d;
  --cp-tools-items-hover-bg: #2f8d3d;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans",
    Verdana, Arial, sans-serif;
  color: var(--body-fg);
  background: var(--body-bg);
}

/* TABLES */

table {
    border-collapse: collapse;
    border-color: var(--border-color);
}

td, th {
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px solid var(--hairline-color);
    vertical-align: top;
    padding: 8px;
}

th {
    font-weight: 600;
    text-align: left;
}

thead th,
tfoot td {
    color: var(--body-quiet-color);
    padding: 5px 10px;
    font-size: 11px;
    background: var(--body-bg);
    border: none;
    border-top: 1px solid var(--hairline-color);
    border-bottom: 1px solid var(--hairline-color);
}

tfoot td {
    border-bottom: none;
    border-top: 1px solid var(--hairline-color);
}

thead th.required {
    color: var(--body-loud-color);
}

tr.alt {
    background: var(--darkened-bg);
}

tr:nth-child(odd), .row-form-errors {
    background: var(--body-bg);
}

tr:nth-child(even),
tr:nth-child(even) .errorlist,
tr:nth-child(odd) + .row-form-errors,
tr:nth-child(odd) + .row-form-errors .errorlist {
    background: var(--darkened-bg);
}

/* SORTABLE TABLES */

thead th {
    padding: 5px 10px;
    line-height: normal;
    text-transform: uppercase;
    background: var(--darkened-bg);
}

thead th a:link, thead th a:visited {
    color: var(--body-quiet-color);
}

thead th.sorted {
    background: var(--selected-bg);
}

thead th.sorted .text {
    padding-right: 42px;
}

table thead th .text span {
    padding: 8px 10px;
    display: block;
}

table thead th .text a {
    display: block;
    cursor: pointer;
    padding: 8px 10px;
}

table thead th .text a:focus, table thead th .text a:hover {
    background: var(--selected-bg);
}

thead th.sorted a.sortremove {
    visibility: hidden;
}

table thead th.sorted:hover a.sortremove {
    visibility: visible;
}

table thead th.sorted .sortoptions {
    display: block;
    padding: 9px 5px 0 5px;
    float: right;
    text-align: right;
}

table thead th.sorted .sortpriority {
    font-size: .8em;
    min-width: 12px;
    text-align: center;
    vertical-align: 3px;
    margin-left: 2px;
    margin-right: 2px;
}

table thead th.sorted .sortoptions a {
    position: relative;
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url(../img/sorting-icons.svg) 0 0 no-repeat;
    background-size: 14px auto;
}

table thead th.sorted .sortoptions a.sortremove {
    background-position: 0 0;
}

table thead th.sorted .sortoptions a.sortremove:after {
    content: '\\';
    position: absolute;
    top: -6px;
    left: 3px;
    font-weight: 200;
    font-size: 18px;
    color: var(--body-quiet-color);
}

table thead th.sorted .sortoptions a.sortremove:focus:after,
table thead th.sorted .sortoptions a.sortremove:hover:after {
    color: var(--link-fg);
}

table thead th.sorted .sortoptions a.sortremove:focus,
table thead th.sorted .sortoptions a.sortremove:hover {
    background-position: 0 -14px;
}

table thead th.sorted .sortoptions a.ascending {
    background-position: 0 -28px;
}

table thead th.sorted .sortoptions a.ascending:focus,
table thead th.sorted .sortoptions a.ascending:hover {
    background-position: 0 -42px;
}

table thead th.sorted .sortoptions a.descending {
    top: 1px;
    background-position: 0 -56px;
}

table thead th.sorted .sortoptions a.descending:focus,
table thead th.sorted .sortoptions a.descending:hover {
    background-position: 0 -70px;
}



/* MODULES */

.module {
    border: none;
    margin-bottom: 30px;
    background: var(--body-bg);
}

.module p, .module ul, .module h3, .module h4, .module dl, .module pre {
    padding-left: 10px;
    padding-right: 10px;
}

.module blockquote {
    margin-left: 12px;
}

.module ul, .module ol {
    margin-left: 1.5em;
}

.module h3 {
    margin-top: .6em;
}

.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    color: var(--header-link-color);
}

.module caption,
.inline-group h2 {
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.module table {
    border-collapse: collapse;
}

/* LINKS */

a:link,
a:visited {
  text-decoration: none;
  transition: color 0.15s, background 0.15s;
}

/* HEADER */
#branding {
  float: left;
  margin-left: 15px;
}

#branding #site-name {
  vertical-align: middle;
  align-items: center;
  display: inline-flex;
}

#branding #site-name span {
  padding: 0;
  margin: 0 0 0 10px;
  font-weight: 300;
  font-size: 22px;
  color: var(--header-color);
}

#branding #site-name,
#branding #site-name a:link,
#branding #site-name a:visited {
  color: var(--header-color);
}

#branding h2 {
  padding: 0 10px;
  font-size: 14px;
  margin: -8px 0 8px 0;
  font-weight: normal;
  color: var(--header-color);
}

#branding a:hover {
  text-decoration: none;
}

/* App Nav Header */
.app-nav-header{
  list-style: none;
  flex: 1;
  margin: 0px;
  padding: 0px 0px 0px 30px;
}

/* Header list style */
header ul > li{
  position: relative;
  display: block;
  float: left;
  list-style: none;
}

header ul > li > a{
  padding: 0px 5px;
  height: 40px;
  line-height: 40px;
  display: block;
}

header ul > li > a:hover{
  text-decoration: none;
  background-color: var(--button-hover-bg);
}


/* DROPDOWN MENU */
/* .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  text-align: left;
  list-style: none;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  box-shadow: 0 6px 12px -4px rgba(0, 0, 0, 0.25);
} */
/* 
.dropdown-menu.show {
  display: block;
  max-height: calc(100vh - 46px);
  overflow: auto;
  margin-top: 0;
}

.dropdown-menu a {
  font-size: 0.75rem;
  padding: 3px 20px;
  color: #4c4c4c !important;
}

.dropdown-menu a:hover {
  background-color: #e4e4e4;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
} */

/* END HEADER */

/* CONTROL PANEL */
div.control-panel {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 auto;
  padding: 10px 20px;
  border-bottom: 1px solid var(--hairline-color);
}

div.control-panel > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin: 5px 0px;
}
div.control-panel .cp-top {
  min-height: 30px;
}
div.control-panel .cp-top .cp-top-left,
div.control-panel .cp-top .cp-top-right {
  width: 50%;
}

/* PANEL SEARCH FORM */
div.control-panel .cp-top .cp-top-right #toolbar {
  float: right;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  width: 100%;
}

div.control-panel .cp-top-right #toolbar form label {
  position: absolute;
  right: 30px;
}

div.control-panel .cp-top-right #toolbar form #searchbar {
  width: 100%;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #ccc;
  outline: none;
}

div.control-panel .cp-top-right #toolbar form input[type="submit"] {
  position: absolute;
  right: 20px;
  left: auto;
  background: transparent;
  color: transparent;
  box-shadow: none;
  padding: 4px 0px;
  margin-top: -26px;
  border: none;
}

div.control-panel .cp-top-right #toolbar form span {
  display: block;
}

div.control-panel .cp-bottom > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 50%;
}

div.control-panel .cp-buttons .submit-row {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}

div.control-panel .cp-buttons .submit-row input {
  margin: 0 0 0 5px;
}

div.control-panel .cp-bottom .cp-bottom-left {
  justify-content: space-between;
}

div.control-panel .cp-bottom a,
div.control-panel .cp-bottom .button {
  float: left;
}

div.control-panel .cp-bottom .buttonAdd {
  padding: 10px 15px;
  background: var(--cp-tools-items-bg);
  color: #fff;
  border-radius: 4px;
}

div.control-panel .buttonAdd:hover {
  background: var(--cp-tools-items-hover-bg);
}

div.control-panel #changelist-filter {
  margin: 0;
  flex: 0 0 auto;
  background: none;
}

div.control-panel #changelist-filter .change-list-filter-toggle {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
}

div.control-panel #changelist-filter #changelist-filter-clear a {
  width: 100%;
  margin-bottom: 10px;
  padding-left: 10px;
}

div.control-panel #changelist-filter .filter-text {
  flex: 1;
}

div.control-panel #changelist-filter .changelist-filter-menu {
  position: absolute;
  padding: 10px 0 0;
  background: var(--darkened-bg);
  border: 1px solid var(--hairline-color);
  overflow: hidden;
}

div.control-panel #changelist-filter .changelist-filter-menu > * {
  width: 100%;
}

div.control-panel #changelist-filter .changelist-filter-menu:not(.show) {
  display: none;
}

div.control-panel #changelist-filter .changelist-filter-menu ul {
  display: inline-flex;
}

div.control-panel
  #changelist-filter
  .changelist-filter-menu
  ul
  > li:not(:first-child) {
  margin-left: 10px !important;
}

div.control-panel #changelist-filter .changelist-filter-menu ul > li.selected {
  border: none;
  border-bottom: 5px solid var(--hairline-color);
  padding-left: 0px;
  margin-left: 0px;
}

/* BREADCRUMBS */

/* OBJECT TOOLS */

.object-tools {
  font-size: 10px;
  font-weight: bold;
  padding-left: 0;
  float: right;
  position: relative;
  margin-top: -48px;
}

.object-tools li {
  display: block;
  float: left;
  margin-left: 5px;
  height: 16px;
}

.object-tools a {
  border-radius: 15px;
}

.object-tools a:link,
.object-tools a:visited {
  display: block;
  float: left;
  padding: 3px 12px;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.object-tools a:focus {
  text-decoration: none;
}

.object-tools a.viewsitelink,
.object-tools a.addlink {
  background-repeat: no-repeat;
  background-position: right 7px center;
  padding-right: 26px;
}

/* OBJECT HISTORY */

#change-history table {
  width: 100%;
}

#change-history table tbody th {
  width: 16em;
}

#change-history .paginator {
  color: var(--body-quiet-color);
  border-bottom: 1px solid var(--hairline-color);
  background: var(--body-bg);
  overflow: hidden;
}

/* PAGE STRUCTURE */
.dashboard #content {
  width: 100%;
}

#container {
  position: relative;
  width: 100%;
  min-width: 980px;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#container > div {
  flex-shrink: 0;
}

#container > .main {
  display: flex;
  flex: 1 0 auto;
  padding-top: 49px;
}

#container > .main .toggle-nav-sidebar:before {
  content: "\00AB";
}
#container > .main.shifted .toggle-nav-sidebar:before {
  content: "\00BB";
}
#container > .main .toggle-nav-sidebar {
  height: 30px;
  left: 275px;
  border: none;
}

#container > .main.shifted .toggle-nav-sidebar {
  left: 0px;
}

#container > .main #nav-sidebar {
  left: 0;
  margin-left: 0px;
  background:#000;
  flex: 0 0 180px;
}

#container > .main.shifted #nav-sidebar {
  left: -305px;
  margin-left: -305px;
}

.app-sidebar-menu{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.app-sidebar-menu li{
    display: block;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.app-sidebar-menu li a.nav-link{
  display: block;
  position: relative;
  margin: 0px;
  border: 0px;
  padding: 8px 15px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
    background: none;
  }

.app-sidebar-menu > li:hover > a.nav-link,
.app-sidebar-menu > li > a.nav-link.current-app{
      background: rgb(0, 107, 179);
    color: rgb(255, 255, 255);
}
  
/* MAIN */

.main > .content {
  flex: 1 0;
  max-width: 100%;
}

#container .main.shifted > #nav-sidebar + .content {
  max-width: calc(100% - 0px);
}

#content {
  padding: 20px 40px;
}

.dashboard #content {
  width: 600px;
}

#footer {
  clear: both;
  padding: 10px;
}


/* SIDEBAR */

#content-related {
  background: var(--darkened-bg);
}

#content-related .module {
  background: none;
}

#content-related h3 {
  color: var(--body-quiet-color);
  padding: 0 16px;
  margin: 0 0 16px;
}

#content-related h4 {
  font-size: 13px;
}

#content-related p {
  padding-left: 16px;
  padding-right: 16px;
}

#content-related .actionlist {
  padding: 0;
  margin: 16px;
}

#content-related .actionlist li {
  line-height: 1.2;
  margin-bottom: 10px;
  padding-left: 18px;
}

#content-related .module h2 {
  background: none;
  padding: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--hairline-color);
  font-size: 18px;
  color: var(--body-fg);
}

.delete-confirmation form input[type="submit"] {
  background: var(--delete-button-bg);
  border-radius: 4px;
  padding: 10px 15px;
  color: var(--button-fg);
}

.delete-confirmation form input[type="submit"]:active,
.delete-confirmation form input[type="submit"]:focus,
.delete-confirmation form input[type="submit"]:hover {
  background: var(--delete-button-hover-bg);
}

.delete-confirmation form .cancel-link {
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  line-height: 15px;
  border-radius: 4px;
  padding: 10px 15px;
  color: var(--button-fg);
  background: var(--close-button-bg);
  margin: 0 0 0 10px;
}

.delete-confirmation form .cancel-link:active,
.delete-confirmation form .cancel-link:focus,
.delete-confirmation form .cancel-link:hover {
  background: var(--close-button-hover-bg);
}

/* POPUP */
.popup #content {
  padding: 20px;
}

.popup #container {
  min-width: 0;
}

.popup header {
  padding: 10px 20px;
}

/* PAGINATOR */

.paginator {
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 22px;
  margin: 0;
  border-top: 1px solid var(--hairline-color);
  width: 100%;
}

.paginator a:link,
.paginator a:visited {
  padding: 2px 6px;
  background: var(--button-bg);
  text-decoration: none;
  color: var(--button-fg);
}

.paginator a.showall {
  border: none;
  background: none;
  color: var(--link-fg);
}

.paginator a.showall:focus,
.paginator a.showall:hover {
  background: none;
  color: var(--link-hover-color);
}

.paginator .end {
  margin-right: 6px;
}

.paginator .this-page {
  padding: 2px 6px;
  font-weight: bold;
  font-size: 13px;
  vertical-align: top;
}

.paginator a:focus,
.paginator a:hover {
  color: white;
  background: var(--link-hover-color);
}


/* Login */


/* Form */
body.change-form .submit-row a.deletelink{
  height: unset;
}

body.change-form .inline-group .tabular th.original{
  padding: 0;
}

body.change-form .inline-group .tabular td.original{
  font-size: 13px;
  line-height: 16px;
  vertical-align: top;
}
body.change-form .inline-group .tabular td.original p{
  height: auto;
}

body.change-form .help > a{
  color: var(--error-fg);
  text-decoration: underline;
}

/* INLINES */

.inline-group {
    padding: 0;
    margin: 0 0 30px;
}

.inline-group thead th {
    padding: 8px 10px;
}

.inline-group .aligned label {
    width: 160px;
}

.inline-related {
    position: relative;
}

.inline-related h3 {
    margin: 0;
    color: var(--body-quiet-color);
    padding: 5px;
    font-size: 13px;
    background: var(--darkened-bg);
    border-top: 1px solid var(--hairline-color);
    border-bottom: 1px solid var(--hairline-color);
}

.inline-related h3 span.delete {
    float: right;
}

.inline-related h3 span.delete label {
    margin-left: 2px;
    font-size: 11px;
}

.inline-related fieldset.module h3 {
    margin: 0;
    padding: 2px 5px 3px 5px;
    font-size: 11px;
    text-align: left;
    font-weight: bold;
    background: #bcd;
    color: var(--body-bg);
}

.inline-group .tabular fieldset.module {
    border: none;
}

.inline-related.tabular fieldset.module table {
    width: 100%;
    overflow-x: scroll;
}

.last-related fieldset {
    border: none;
}

.inline-group .tabular tr.has_original td {
    padding-top: 2em;
}

.inline-group .tabular tr td.original {
    padding: 2px 0 0 0;
    width: 0;
    _position: relative;
}

.inline-group .tabular th.original {
    width: 0px;
    padding: 0;
}

.inline-group .tabular td.original p {
    position: absolute;
    left: 0;
    height: 1.1em;
    padding: 2px 9px;
    overflow: hidden;
    font-size: 9px;
    font-weight: bold;
    color: var(--body-quiet-color);
    _width: 700px;
}

.inline-group ul.tools {
    padding: 0;
    margin: 0;
    list-style: none;
}

.inline-group ul.tools li {
    display: inline;
    padding: 0 5px;
}

.inline-group div.add-row,
.inline-group .tabular tr.add-row td {
    color: var(--body-quiet-color);
    background: var(--darkened-bg);
    padding: 8px 10px;
    border-bottom: 1px solid var(--hairline-color);
}

.inline-group .tabular tr.add-row td {
    padding: 8px 10px;
    border-bottom: 1px solid var(--hairline-color);
}

.inline-group ul.tools a.add,
.inline-group div.add-row a,
.inline-group .tabular tr.add-row td a {
    background: url(../img/icon-addlink.svg) 0 1px no-repeat;
    padding-left: 16px;
    font-size: 12px;
}

.empty-form {
    display: none;
}

/* RELATED FIELD ADD ONE / LOOKUP */

.related-lookup {
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: 14px;
}

.related-lookup {
    width: 16px;
    height: 16px;
    background-image: url(../img/search.svg);
}

form .related-widget-wrapper ul {
    display: inline-block;
    margin-left: 0;
    padding-left: 0;
}

.clearable-file-input input {
    margin-top: 0;
}