@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --object-tools-fg: var(--button);
    --object-tools-bg: var(--primary);
    --object-tools-hover-bg: var(--close-button-hover-bg);
    --accent: #FFC300;
  --soft-blue: #4b97f3;

  --body-fg: #333;
  --body-bg: #fff;
  --body-quiet-color: #666;
  --body-loud-color: #000;

  --header-color: #fff;
  --header-branding-color: var(--accent);
  --header-bg: var(--primary);
  --header-link-color: #fff;

  --breadcrumbs-bg  : transparent;
  --breadcrumbs-fg: #fff;
  --breadcrumbs-link-fg: #fff;
  --breadcrumbs-bg: var(--secondary);
  --breadcrumbs-title: var(--primary);

  --link-fg: var(--primary);
  --link-hover-color: #036;
  --link-selected-fg: #5b80b2;

  --hairline-color: #e8e8e8;
  --border-color: #ccc;

  --error-fg: #ba2121;

  --message-success-bg: #dfd;
  --message-warning-bg: #ffc;
  --message-error-bg: #ffefef;

  --darkened-bg: #f8f8f8; /* A bit darker than --body-bg */
  --selected-bg: #e4e4e4; /* E.g. selected table cells */
  --selected-row: #ffc;

  --button-fg: #fff;
  --button-bg: var(--primary);
  --button-hover-bg: #1f2a9e;
  --default-button-bg: var(--secondary);
  --default-button-hover-bg: #ee0630;
  --close-button-bg: #888; /* Previously #bbb, contrast 1.92 */
  --close-button-hover-bg: #747474;
  --delete-button-bg: #ba2121;
  --delete-button-hover-bg: #a41515;

  --cp-tools-items-bg: #41ac4d;
  --cp-tools-items-hover-bg: #2f8d3d;
}


h1 {
    @apply text-2xl mb-1;
}
h2 {
    @apply text-xl mb-2;
}

a {
    @apply text-sky-500 hover:text-sky-700;
}

/*
|------------------------------------
| 	HEADER
|------------------------------------
*/

header nav ul.navbar-nav > li > a.current-model{
    @apply border-white;
    background-color: var(--button-hover-bg);
}

.popup header{
    @apply p-0;
}


/* Main Menu */
.main-menu > li:hover .sub-menu{
    display: block;
}
/* User tools */
#user-tools a{
    @apply text-white;
}

#user-tools a:focus,
#user-tools a:hover{
    @apply text-sky-200;
}

#user-tools .profile-image img{
    @apply object-cover w-16 h-16 !important;
}


#user-tools {
  @apply font-light text-xs uppercase text-center;
}

#user-tools a {
    @apply block whitespace-nowrap
}


/*
|------------------------------------
| FORM
|------------------------------------
*/

input[type='submit']{
    @apply bg-green-500 text-white px-3 py-2 hover:cursor-pointer hover:bg-green-600 transition-colors duration-150 ease-in-out;
}

.errornote,
ul.errorlist{
    @apply text-red-400;
}

form .aligned ul.errorlist{
    @apply ml-48;
}

form fieldset.module .related-widget-wrapper,
form fieldset.module .related-widget-wrapper-link{
    @apply flex;
}

form fieldset.module .related-widget-wrapper .related-widget-wrapper-link{
    @apply items-center h-10 leading-10
}

body.change-form form > div > fieldset.module,
body.change-form form > div> .inline-group{
    @apply shadow-lg rounded bg-white mt-5;
}

body.change-form form > div> .inline-group{
    @apply overflow-y-hidden;
}

body.change-form form > div .module h2,
body.change-form form > div> .inline-group h2{
    @apply pl-2 pt-1;
}

form .related-widget-wrapper {
    display: flex;
    align-items: center;
}
.related-widget-wrapper .related-widget-wrapper-link{
    width: 13px;
    /* float:left; */
}

form#changelist-form td>img{
    margin: auto;
}

/* Inline Form */
.inline-related h3 {
    @apply bg-gray-100 text-gray-800;
}

/* SUBMIT ROW */
.submit-row{
    @apply bg-gray-200 dark:bg-gray-800 mt-4;
}

.submit-row a.deletelink{
    @apply bg-red-400 text-white hover:bg-red-500 transition-colors duration-150 ease-in-out;
}


.change-form form .submit-row input,
.change-form form .submit-row a{
    @apply px-4 py-3 h-auto rounded-sm;
}

.inline-group .tabular td.original p{
    @apply h-auto;
}

.submit-row a.closelink{
    @apply bg-gray-400 text-white hover:bg-gray-500 transition-colors duration-150 ease-in-out;
}

/*
|------------------------------------
| 	OBJECT TOOLS
|------------------------------------
*/
.object-tools {
  font-size: 10px;
  font-weight: bold;
  padding-left: 0;
  float: right;
  position: relative;
}

.object-tools li {
  display: block;
  float: left;
  margin-left: 5px;
}

.object-tools li > a {
  @apply block bg-green-500 text-white font-normal text-sm rounded-3xl hover:bg-green-600 py-2 px-3 transition-colors duration-150 ease-in-out;
}

.object-tools a:focus {
  text-decoration: none;
}

.object-tools a.viewsitelink,
.object-tools a.addlink {
  background-repeat: no-repeat;
  background-position: right 7px center;
  padding-right: 26px;
}

.change-list > main > .object-tools{
    @apply float-none mt-0 flex justify-end p-3 md:px-10 ;
}

/* OBJECT HISTORY */

#change-history table {
  width: 100%;
}

#change-history table tbody th {
  width: 16em;
}

#change-history .paginator {
  color: var(--body-quiet-color);
  border-bottom: 1px solid var(--hairline-color);
  background: var(--body-bg);
  overflow: hidden;
}

/*
|------------------------------------
| 	DASHBOARD
|------------------------------------
*/
.dashboard .module table th {
    @apply md:w-9/12 w-full
}

.dashboard .module{
    @apply border-b border-gray-200 dark:border-gray-800;
    @apply text-left;
    @apply mb-3 md:mb-5;
}
.dashboard .module caption a {
    @apply block;
    @apply text-left;
}

/*
|------------------------------------
| 	CHANGE LIST
|------------------------------------
*/
body.change-list form .actions{
    @apply flex;
}

body.change-list form .actions button.button{
  @apply bg-green-500 text-white px-3 py-2 mx-2 hover:cursor-pointer hover:bg-green-600 transition-colors duration-150 ease-in-out;
}

body.change-list form .paginator{
    @apply px-1 text-sm;
}

/*
|------------------------------------
| 	SIDEBAR
|------------------------------------
*/

.app-sidebar::-webkit-scrollbar-track {
    @apply bg-gray-200 border px-1;
}

.app-sidebar::-webkit-scrollbar {
    @apply w-1
}

.app-sidebar::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-gray-300 border shadow-sm;
}


/*
|------------------------------------
| 	TABLES
|------------------------------------
*/

table {
    border-collapse: collapse;
    border-color: var(--border-color);
}

td, th {
    @apply text-base align-middle p-2 border-b border-b-gray-300;
}

.inline-group .tabular tr{
    @apply relative;
}
.inline-group .tabular tr p{
    @apply top-0;
}
th {
    font-weight: 600;
    text-align: left;
}

thead th,
tfoot td {
    color: var(--body-quiet-color);
    padding: 5px 10px;
    font-size: 11px;
    background: var(--body-bg);
    border: none;
    border-top: 1px solid var(--hairline-color);
    border-bottom: 1px solid var(--hairline-color);
}

tfoot td {
    border-bottom: none;
    border-top: 1px solid var(--hairline-color);
}

thead th.required {
    @apply text-yellow-200;
}

tr.alt {
    background: var(--darkened-bg);
}

tr:nth-child(odd), .row-form-errors {
    background: var(--body-bg);
}

tr:nth-child(even),
tr:nth-child(even) .errorlist,
tr:nth-child(odd) + .row-form-errors,
tr:nth-child(odd) + .row-form-errors .errorlist {
    background: var(--darkened-bg);
}

td.action-checkbox {
    @apply text-center;
}

/* SORTABLE TABLES */

thead th {
    @apply px-6 align-middle py-3 text-xs uppercase border border-solid border-l-0 border-r-0 whitespace-nowrap font-semibold text-left border-slate-100 text-white border-sky-700 bg-sky-600;
}

thead th a:link, thead th a:visited {
    @apply text-white;
}

thead th.sortable{
    @apply hover:bg-sky-700;
}

thead th.sorted {
    @apply bg-sky-700;
}

thead th.sorted .text {
    padding-right: 42px;
}

table thead th .text span {
    padding: 8px 10px;
    display: block;
}

table thead th .text a {
    display: block;
    cursor: pointer;
    padding: 8px 10px;
}

table thead th .text a{
    @apply focus:bg-sky-700 hover:bg-sky-700;
}

thead th.sorted a.sortremove {
    visibility: hidden;
}

table thead th.sorted:hover a.sortremove {
    visibility: visible;
}

table thead th.sorted .sortoptions {
    display: flex;
    padding: 9px 5px 0 5px;
    float: right;
    text-align: right;
}

table thead th.sorted .sortpriority {
    font-size: .8em;
    min-width: 12px;
    text-align: center;
    vertical-align: 3px;
    margin-left: 2px;
    margin-right: 2px;
}

table thead th.sorted .sortoptions a {
    position: relative;
    width: 14px;
    height: 14px;
    display: inline-block;
    background-size: 14px auto;
}

table thead th.sorted .sortoptions a.sortremove {
    background-position: 0 0;
}

table thead th.sorted .sortoptions a.sortremove:after {
    content: '\\';
    position: absolute;
    top: -6px;
    left: 3px;
    font-weight: 200;
    font-size: 18px;
    @apply text-gray-500;
}

table thead th.sorted .sortoptions a.sortremove:focus:after,
table thead th.sorted .sortoptions a.sortremove:hover:after {
    color: var(--link-fg);
}

table thead th.sorted .sortoptions a.sortremove:focus,
table thead th.sorted .sortoptions a.sortremove:hover {
    background-position: 0 -14px;
}

table thead th.sorted .sortoptions a.ascending {
    background-position: 0 -28px;
}

table thead th.sorted .sortoptions a.ascending:focus,
table thead th.sorted .sortoptions a.ascending:hover {
    background-position: 0 -42px;
}

table thead th.sorted .sortoptions a.descending {
    top: 1px;
    background-position: 0 -56px;
}

table thead th.sorted .sortoptions a.descending:focus,
table thead th.sorted .sortoptions a.descending:hover {
    background-position: 0 -70px;
}

/* Login Page */
.login-page{
    @apply bg-sky-50;
}

.login-form-container{
    @apply border-2 border-sky-800 bg-white;
}

@media (prefers-color-scheme: dark){
    body > main{
        @apply bg-slate-900 !important;
        @apply text-slate-200 !important;
    }

    main .messagelist{
        @apply text-slate-800;
    }

    main h1{
        @apply text-slate-300;
    }

    table.import-preview tr.new{
        @apply bg-slate-500;
    }
  table.import-preview tr > * {
    @apply text-slate-200;
  }

  div.actions .action-counter{
    @apply text-slate-400;
  }

  body.change-form form div.inline-group .tabular > fieldset.module{
    @apply bg-transparent;
  }
  
  /* Change Form background */
  body.change-form form > div > fieldset.module,
  body.change-form form .inline-group,
  div.submit-row,
  .inline-related fieldset{
    @apply bg-slate-700/50 text-slate-200 !important;
  }

  div.submit-row{
    @apply border-slate-600
  }

    tr:nth-child(odd), .row-form-errors {
        @apply bg-slate-700 !important;
    }
    tr:nth-child(even),
    tr:nth-child(even) .errorlist,
    tr:nth-child(odd) + .row-form-errors,
    tr:nth-child(odd) + .row-form-errors .errorlist {
        @apply bg-slate-700/50;
    }

    td{
        @apply text-slate-300;
    }

    form fieldset.module .form-row,
    td, th{
        @apply border-b-slate-700 !important;
    }

    .module label, .module p, h2, h3{
        @apply text-slate-300;
    }

    [type='text'],[type='email'],[type='url'],[type='password'],[type='number'],[type='date'],[type='datetime-local'],[type='month'],[type='search'],[type='tel'],[type='time'],[type='week'],[multiple],textarea,select{
        @apply bg-slate-800 border-slate-700;
    }
    [type='checkbox']{
        @apply bg-slate-600;
    }
    /* Tabular INLINE */
    .inline-group .tabular tr.add-row td{
        @apply bg-slate-600/20
    }

    .inline-group .tabular td.original p{
        @apply text-slate-400;
    }

    .admin-tabular-inline-pagination .paginator .page-selected,
    .admin-tabular-inline-pagination .paginator .results{
        @apply bg-slate-700 text-slate-300;
    }
    .admin-tabular-inline-pagination .paginator .page-available{
        @apply bg-slate-700/50;
    }
    
    /* Stacked Inline */
    .inline-related h3{
        @apply bg-transparent text-slate-300 border-t-slate-600 border-b-slate-600;
    }

    /* Login Page */
    .login-page{
        @apply bg-slate-800;
    }

    .login-form-container{
        @apply bg-slate-900;
    }

    .login-page h1{
        @apply text-slate-300;
    }

    .login-page label,
    .login-page .text-sm{
        @apply text-slate-400 !important;
    }

    .login-page input{
        @apply text-slate-300 bg-transparent;
    }


    /* Content Scrollbar style */
    .inline-group::-webkit-scrollbar{
        height: 8px;
    }
    .inline-group::-webkit-scrollbar-track {
        @apply bg-slate-900;
    }

    .inline-group::-webkit-scrollbar-thumb {
        @apply bg-slate-500 rounded-lg;       /* roundness of the scroll thumb */
    }


    body::-webkit-scrollbar {
        width: 12px;               /* width of the entire scrollbar */
    }

    body::-webkit-scrollbar-track{
        @apply bg-slate-800;
    }

    body::-webkit-scrollbar-thumb{
        @apply bg-slate-700 rounded-lg;       /* roundness of the scroll thumb */
    }
}

/** DARK MODE **/
.dark-mode .navbar-title {
    color: white !important;
}

.dark-mode .navbar-menu {
    @apply bg-slate-900;
}

.dark-mode .navbar-menu a {
    @apply border-slate-900 text-slate-400 hover:text-white;
}

.dark-mode .navbar-menu a.active {
    @apply text-blue-400 border-blue-400;
}

.dark-mode .navabr-welcome {
    @apply text-white;
}

.dark-mode main {
    @apply bg-black;
}

.dark-mode .stat-card {
    @apply bg-slate-900 border-slate-700;
}

.dark-mode .stat-card h5 {
    @apply text-gray-400;
}

.dark-mode .stat-card h3 {
    @apply text-gray-500;
}

.dark-mode .stat-card .card-header {
    @apply border-slate-700;
}

.dark-mode hr {
    @apply border-slate-700;
}